#container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  align-content: center;
}

body{
  background-color: lightblue;
}

canvas {
    padding: 0;
    margin: auto;
    display: block;
    width: 800px;
    height: 600px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

#game-over {
  display: block;
  text-align: center;
  z-index: 100;
  width: 200px;
  height: 150px;
  color: #D00000;
  position:absolute;
  top:0;
  bottom:0;
  right:0;
  left:0;
  margin:auto;
}

.img-center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

.button {
  display: block;
  width: 150px;
  margin: 0 auto;
  height: 30px;
  line-height: 30px;
  border: 1px solid #AA2666;
  color: white;
  font-weight: bold;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
  background-color: #FB1886;
  background-image: -webkit-linear-gradient(bottom, #FB1886 0%, #B30D5D 100%);
  background-image:         linear-gradient(to bottom, #FB1886 0%, #B30D5D 100%);
  border-radius: 5px;
  text-decoration: none
}

.sound {
  display: none;
  position: absolute;
  top: 10px;
  left: 10px;
  width: 30px;
  height: 25px;
  cursor: pointer;
  z-index: 3;
}
.sound-on {
  background-image: url('images/soundOn.png');
  background-repeat: no-repeat;
}
.sound-off {
  background-image: url('images/soundOff.png');
  background-repeat: no-repeat;
}


.link-list {
  list-style-type: none;
  width: 100%;
  display: flex;
  align-self: right;
  /*border: 1px solid yellow;*/
  text-align: right;
  justify-content: flex-end;
}

.link-list li {
  margin-right: 30px;
  color: white;
}

.brian-contact {
  width: 100%;
  font-size: 45px;
  color: white;
  align-self: right;
  text-align: right;
  display: flex;
  justify-content: flex-end;
}


.githublink {
  color: white;
}

.linked-in-link {
  color: white;

}

.linked-in-open {
  color: white;
  font-size: 25px;
}
